@import "../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@mixin textProperties($setFontSize, $color) {
    font-family: 'Montserrat', sans-serif;
    font-size: $setFontSize;
    line-height: 1.5;
    color: $color;
}

@mixin flexProperties($flexDirection:row, $justifyContent:space-around, $alignItems:center) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin positionProperties($fixed, $top, $right, $bottom, $left) {
    position: $fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin borderProperties($borderColor, $radius) {
    border: 2px solid $borderColor;
    border-radius: $radius;
}

@mixin measures($width, $height) {
    width: $width;
    height: $height;
}

@mixin m-left-right($m-left, $m-right) {
    margin-left: $m-left;
    margin-right: $m-right;
}

@mixin p-left-right($p-left, $p-right) {
    padding-left: $p-left;
    padding-right: $p-right;
}