$primary: #640050;
$primary-light: #b181a7;

$secondary: #0aa;
$secondary-dark: #007cba;
// $secondary-second: #4db6ac;

$secondary-light: rgba(0,170,170,0.1);
$secondary-dark: #007cba;
$secondary-dark-title: #324b5a; //used with font-weight: 700;
// $secondary-light2: #82e9de;
// $secondary-dark: #00867d;

$white: #fff;